{% import "quotes.twig" as quotes %}


{% set imageSuppress = imageSuppress is defined and imageSuppress == 'true' ? 'true' : 'false'  %}

{% if article.articleId > 0 or (isArticle is defined and isArticle == 'true') %}
    {% set articleImg = '' %}
    {% if article.featuredMedia | length > 0 %}
        {% set imgWidth = 1280 %}
        {% set imgHeight = 720 %}


        {% if 's100x110' in containerClass %}
            {% set imgWidth = 100 %}
            {% set imgHeight = 110 %}

        {% elseif 's203x130' in containerClass %}
            {% set imgWidth = 203 %}
            {% set imgHeight = 130 %}

       {% endif %}

    {% endif %}

    {% set placeholder = 'https://placeholdit.imgix.net/~text?txtsize=33&txt=Loading&w='~imgWidth~'&h='~imgHeight~'' %}
    {% set promotedClass = (article.isPromoted) ? 'ad_icon' : '' %}
    {% set hasArticleMediaClass = (article.hasMedia == 'TRUE') ? 'withImage__content': 'without__image' %}

    {% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate) %}
    {% set publishedAgo = _AppHelper.getSecondsSincePublished(article.publishDateTime) %}
    {# {% set publishedAgo = 1 %} #}

{#     {% set updatedRelativeTime = "" %}
    {% if article.publishDateTime != article.updateDateTime %}
        {% set updatedAgo = _AppHelper.getSecondsSincePublished(article.updateDateTime) %}
        {% if updatedAgo < 86400 %}
            {% set updatedRelativeTime = "UPDATED " ~ _AppHelper.getRelativeTime(article.updateDateTime) ~ " AGO" %}
        {% endif %}
    {% endif %}
 #}
    {% set publishedRelativeTime = '' %}
    {# {% if publishedAgo < 86400 %} #}
        {% set publishedRelativeTime = _AppHelper.getRelativeTime(article.publishDateTime) ~ " ago" %}
    {# {% endif %} #}

    {% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 34, 34, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
    
    {% set articleTitle =  quotes.smarten(titleTruncateLength is defined ? article.title | truncate(titleTruncateLength) : article.title)  %}

    {% set swap = swap is defined and swap == 'false' ? '' : 'swap'  %}
    {% set figureClass =  article.featuredMedia['type'] == 'video' ? 'video' : '' %}


    <div class="{{containerClass}}" data-title="{{ articleTitle | raw }}">
        
        {% set articleImg = _Media.getMediaUrl(article.featuredMedia,imgWidth, imgHeight, {'crop': 'fill', 'gravity': 'faces'} ) %}

        <a  href="{{article.url}}" 
            class="{{swap}} card article {{hasArticleMediaClass}}" 
            data-id="{{article.articleId}}" 
            data-position="{{position}}" 
            data-social="0" 
            data-article-image="{{articleImg}}" 
            data-article-text="{{Helper.htmlToText(article.title, -1) | raw | escape('html')}}">

            <article class="">
                {% if (article.hasMedia == 'TRUE' or article.hasPreviewMedia == 'TRUE') and imageSuppress == 'false' %}
                    <figure class="{{figureClass}}">
                        {% if lazyload == false %}
                            <img class="img-responsive" src="{{articleImg}}"  {% if articleImg is not empty %} style="background-image:url('{{placeholder}}');" {%endif%}>
                        {% else %}
                            <img class="img-responsive lazyload" data-original="{{articleImg}}" src="{{articleImg}}"  {% if articleImg is not empty %} style="background-image:url('{{placeholder}}');" {%endif%}>
                        {%endif%}
                    </figure>
                {% endif %}


                {# {% if cardClass == 'soundcloud' %}  
                    <div class="other-content">
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/289583160&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_artwork=false"></iframe>
                    </div>
                {% endif %} #}


                <div class="content">
                    <div class="category">{{article.label}}</div>
                    
                    <h2>{{ articleTitle }}</h2>
                    
                    {% if cardClass != 'instagram no-caption' %}  
                        <p>{{ quotes.smarten(article.excerpt | raw) }}</p>
                    {% endif %}
                    
                    {% if publishedRelativeTime != '' %}  
                        <time datetime="2016-11-16">{{publishedRelativeTime}}</time>
                    {% endif %}
                    
                    <div class="author">
                        <img src="{{profileImg}}" class="img-circle">
                        <p>{{ article.createdBy['displayName'] }}</p>
                    </div><!-- .author-->

                </div>
            </article>

            {% if article.userHasBlogAccess == '1' %}
            <div class="btn_overlay articleMenu">
                <button title="Hide" data-guid="{{article.guid}}" class="btnhide social-tooltip HideBlogArticle" type="button" data-social="0">
                    <i class="fa fa-eye-slash"></i><span class="hide">Hide</span>
                </button>
                <button onclick="window.location = '{{article.editUrl}}'; return false;" title="Edit" class="btnhide social-tooltip" type="button">
                    <i class="fa fa-edit"></i><span class="hide">Edit</span>
                </button>
                 {% set pinTitle = 'Pin Article' %}
                 {% set pinTxt = 'Pin' %}
                 {% set pinClass = '' %}
                 {% if article.isPinned == 1 %}
                     {% set pinTitle = 'Un-Pin Article' %}
                     {% set pinTxt = 'Un-Pin' %}
                     {% set pinClass = 'selected' %}
                 {% endif %}    
                <button data-position="{{position}}" data-social="0" data-id="{{article.articleId}}" title="{{pinTitle}}" class="btnhide social-tooltip PinArticleBtn {{pinClass}}" type="button" data-status="{{article.isPinned}}">
                    <i class="fa fa-thumb-tack"></i><span class="hide">{{pinTxt}}</span>
                </button>
            </div>
            {% endif %}
        </a>
    </div><!--swiper slide-->

{% else %}

    {% set social = article.social %}
    {% set mediaClass = (social.hasMedia == 'TRUE') ? 'withImage__content' : 'without__image' %}
    {% set videoClass = (social.media['type'] == 'video') ? 'video' : '' %}
    {% set hasArticleMediaClass = (social.hasMedia == 'TRUE') ? 'withImage__content': 'without__image' %}
    {% set hasArticleContentClass = (social.content) ? '': 'without__content' %}

    <div class="{{containerClass}}">
        <a  href="{{social.url}}"
            class="swap card social {{ social.source }} {{hasArticleContentClass}} {{hasArticleMediaClass}}" 
            data-id="{{article.socialId}}" 
            data-position="{{position}}" 
            data-social="1" 
            data-article-image="{{social.media['path']}}" 
            data-article-text="{{Helper.htmlToText(social.content, -1) | raw | escape('html')}}">

            <article class="">
                {% if social.hasMedia == 'TRUE' and imageSuppress == 'false' %}  
                    <figure class="{{videoClass}}">

                        {% if lazyload == false %}
                            <img class="img-responsive" src="{{social.media['path']}}"  {% if articleImg is not empty %} style="background-image:url('{{placeholder}}');" {%endif%}>
                        {% else %}
                            <img class="img-responsive lazyload" data-original="{{social.media['path']}}"  {% if articleImg is not empty %} style="background-image:url('{{placeholder}}');" {%endif%}>
                        {%endif%}


                        {# <div class="image-wrapper lazyload" data-original="{{social.media['path']}}" {% if social.media['path'] is not empty %} style="background-image:url('{{placeholder}}');"{%endif%}></div> #}
                        {% if social.media['type'] == 'video' and social.media['videoUrl'] is not empty %}
                            <div class="play_icon video-player" data-source="{{social.source}}" data-url="{{social.media['videoUrl']}}" data-poster="{{social.media['path']}}"></div>
                        {% endif %}
                    </figure>
                {% endif %}


                <div class="content">
                    <div class="category {{social.source}}">{{social.source}}</div>
                    
                    <p id="updateSocial{{article.socialId}}" data-update="0">
                             {{ quotes.smarten(social.content  | raw) }}
                    </p>

                    <time datetime="2016-11-16">{{_AppHelper.getDateTimeBasedOnTimezone(social.publishDate,'d M Y')}}</time>
                    
                    <div class="author">
                        <img src="{{social.user.media.path}}" class="img-circle">
                        <p class="">{{ (social.source == _Article.socialArticleSourceTwitter()) ? '@' : ''}}{{ social.user['name'] | lower }}</p>
                    </div><!-- .author-->

                </div>
            </article>

            {% if article.userHasBlogAccess == '1' %}
            <div class="btn_overlay articleMenu">
                <button title="Hide" data-guid="{{social.guid}}" class="btnhide social-tooltip HideBlogArticle" type="button" data-social="1">
                    <i class="fa fa-eye-slash"></i><span class="hide">Hide</span>
                </button>
                    <button title="Edit" class="btnhide social-tooltip editSocialPost" type="button" data-url="/admin/social-funnel/update-social?guid={{social.blog['guid']}}&socialguid={{social.guid}}">
                    <i class="fa fa-edit"></i><span class="hide">Edit</span>
                    </button>
                 {% set pinTitle = 'Pin Article' %}
                 {% set pinTxt = 'Pin' %}
                 {% set pinClass = '' %}
                 {% if article.isPinned == 1 %}
                     {% set pinTitle = 'Un-Pin Article' %}
                     {% set pinTxt = 'Un-Pin' %}
                     {% set pinClass = 'selected' %}
                 {% endif %}    
                <button data-position="{{position}}" data-social="1" data-id="{{article.socialId}}" title="{{pinTitle}}" class="btnhide social-tooltip PinArticleBtn {{pinClass}}" type="button" data-status="{{article.isPinned}}">
                    <i class="fa fa-thumb-tack"></i><span class="hide">{{pinTxt}}</span>
                </button>
            </div>
            {% endif %}
        </a>
    </div><!--swiper slide-->

{% endif %}
