{% set networkData = _Network.getNetworkData() %}

    <main id="main" class="site-main" role="main">
        <article class="article-main">
            <div class="container">
                <div class="content about">
                    <h1 class="aboutpage">About</h1>
                    <p>
                        Newsroom is an independent, New Zealand-based news and current affairs site. 
                        We deliver in-depth storytelling for thinking audiences with an interest in the 
                        people, progress, and democracy of Aotearoa. Our team of experienced, award-winning 
                        journalists produces quality written and video stories that set the national news 
                        agenda and inform intelligent conversations at every level of New Zealand life. 
                    </p>
                    <p>
                        We operate from two locations. This public site, <a href="https://newsroom.co.nz">newsroom.co.nz</a>, 
                        is based in Auckland. Newsroom Pro, our paid subscription service for corporations, government agencies, 
                        local councils, NGOs, and other premium clients, is based in Wellington.
                    </p>
                    <p>
                       The independence of our journalism is supported by our partners in the corporate and 
                       tertiary education sectors, as well as by private donations from New Zealanders. 
                       To add your support to our independent voice, make a donation using the Press Patron 
                       platform link <a style="color:#6464b7" class="subscribe" target="_blank" href="https://www.presspatron.com/newsroom">here</a>.
                    </p>
                </div>

                <h2>Meet the founders</h2>

                <div class="founders">
                    <div class="row block">
                        <div class="col-sm-12 col-md-3 left">         
                            <div class="section-header-tablet visible-sm-block visible-xs-block">
                                <h3>Mark Jennings</h3>
                                <span class="title">co-editor</span>
                            </div><!-- .section-header-->
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/MarkJennings.jpg" alt="Mark Jennings" class="img-responsive">
                            </figure>
                            <div class="social">
                                <ul>
{#}                                    <li><a href="#"><span class="sr-only">Twitter</span><span class="icon-twitter"></span></a></li>
                                     <li><a href="#"><span class="sr-only">Instagram</span><span class="icon-instagram"></span></a></li>
                                    <li><a href="#"><span class="sr-only">Vimeo</span><span class="icon-vimeo"></span></a></li>
 #}                                </ul>
                            </div><!-- .social-->
                            <p class="email"><a href="mailto:mark.jennings@newsroom.co.nz">mark.jennings@newsroom.co.nz</a></p>
                        </div><!-- .col-sm-3-->
                        
                        <div class="col-sm-12 col-md-9 content">
                            <div class="section-header hidden-sm hidden-xs">
                                <h3>Mark Jennings</h3>
                                <span class="title">co-editor</span>
                                <span class="city">Auckland</span>
                            </div><!-- .section-header-->
                            <div class="section-content">
                                <p>
                                    <span class="leadsentence">Mark Jennings’ career in journalism extends back to the late 1970s and, until the founding of Newsroom, was primarily anchored in broadcast news.</span> 
                                </p>
                                <p>
                                    After 10 years in front of the camera in Australia from 1979-89, Mark returned to New Zealand and began a 27-year career with MediaWorks. He has mentored successive generations of acclaimed and respected journalists, and was responsible for launching Newshub across TV Three and Radio Live.
                                </p>
                                <p>
                                    Mark writes about the media industry, business, and the tertiary sector.
                                </p>
                            </div><!-- .section-content-->
                        </div><!-- .col-sm-9-->
                    </div><!-- .row-->

                    <div class="row block">
                        <div class="col-sm-12 col-md-3 left">         
                            <div class="section-header-tablet visible-sm-block visible-xs-block">
                                <h3>Tim Murphy</h3>
                                <span class="title">co-editor</span>
                            </div><!-- .section-header-->
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/TimMurphy.jpg" alt="Tim Murphy" class="img-responsive">
                            </figure>
                            <div class="social">
                                <ul>
                                    <li><a href="https://www.twitter.com/tmurphynz"><span class="sr-only">Twitter</span><span class="icon-twitter"></span></a></li>
{#                                     <li><a href="#"><span class="sr-only">Instagram</span><span class="icon-instagram"></span></a></li>
                                    <li><a href="#"><span class="sr-only">Vimeo</span><span class="icon-vimeo"></span></a></li>
 #}                                </ul>
                            </div><!-- .social-->   
                            <p class="email"><a href="mailto:tim.murphy@newsroom.co.nz">tim.murphy@newsroom.co.nz</a></p>
                        </div><!-- .col-sm-3-->
                        
                        <div class="col-sm-12 col-md-9 content">
                            <div class="section-header hidden-sm hidden-xs">
                                <h3>Tim Murphy</h3>
                                <span class="title">co-editor</span>
                                <span class="city">Auckland</span>
                            </div><!-- .section-header-->
                            <div class="section-content">
                                <p>
                                    <span class="leadsentence">Tim Murphy is the former editor-in-chief of the New Zealand Herald, and led the newspaper and its digital channels through rapid change in the first two decades of the new millennium.</span> 
                                </p>
                                <p>
                                    An experienced journalist with a background in breaking news and political reporting, Tim served as chairman of the Media Freedom Committee for five years. He was also a member of the executive committee of the New Zealand Press Council.
                                </p>
                                <p>
                                    For Newsroom, Tim writes about politics, Auckland issues, and education.
                                </p>
                            </div><!-- .section-content-->
                        </div><!-- .col-sm-9-->
                    </div><!-- .row-->

                </div><!-- .row founders-->

                <h2>Editorial Staff</h2>

                <div class="row">
                    <div class="col-sm-4 editor">
                        <div class="section-header">
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/BernardHickey.jpg" alt="Bernard Hickey" class="img-responsive">
                            </figure>
                            <div class="header-content">
                                <h3>Bernard Hickey</h3>
                                <span class="title">NEWSROOM PRO EDITOR</span>
                                <span class="muted">WELLINGTON</span>
                            </div><!--header-content-->
                        </div><!--section-header-->
                        <div class="content">
                            <p>Bernard Hickey is the managing editor of Newsroom Pro. He writes about economics and politics.</p>

                        </div><!-- .content-->

                        <div class="contact">
                            <p><strong>Email: </strong><a href="mailto:bernard.hickey@newsroom.co.nz">bernard.hickey@newsroom.co.nz</a></p>
                            <p><strong>Twitter: </strong><a href="https://www.twitter.com/bernardchickey">@bernardchickey</a></p>
                        </div><!-- .contact-->
                    </div><!-- .col-sm-4-->

                    <div class="col-sm-4 editor">
                        <div class="section-header">
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/MelanieReid.jpg" alt="Melanie Reid" class="img-responsive">
                            </figure>
                            <div class="header-content">
                                <h3>Melanie Reid</h3>
                                <span class="title">INVESTIGATIONS EDITOR</span>
                                <span class="muted">AUCKLAND</span>
                            </div><!--header-content-->
                        </div><!--section-header-->
                        <div class="content">
                            <p>Melanie Reid is Newsroom’s primary investigative video journalist, specialising in breaking stories and current affairs.
                            </p>
                        </div><!-- .content-->

                        <div class="contact">
                            <p><strong>Email: </strong><a href="mailto:melanie.reid@newsroom.co.nz">melanie.reid@newsroom.co.nz</a></p>
                            {# <p><strong>Twitter:</strong> @bernardchickey</p> #}
                        </div><!-- .contact-->
                    </div><!-- .col-sm-4-->

                    <div class="col-sm-4 editor">
                        <div class="section-header">
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/TroyRawhitiForbes.jpg" alt="Troy Rawhiti-Forbes" class="img-responsive">
                            </figure>
                            <div class="header-content">
                                <h3>Troy Rawhiti-Forbes</h3>
                                <span class="title">DIGITAL COMMUNITIES EDITOR</span>
                                <span class="muted">AUCKLAND</span>
                            </div><!--header-content-->
                        </div><!--section-header-->
                        <div class="content">
                            <p>
                                Troy Rawhiti-Forbes oversees Newsroom’s social media channels, and is editor of the daily email briefing to members of the Newsroom mailing list.
                            </p>
                            <p>
                                For Newsroom, Troy writes about the relationships between people, technology, and new media. He also writes about games, cinema, and TV.
                            </p>
                        </div><!-- .content-->

                        <div class="contact">
                            <p><strong>Email: </strong><a href="mailto:troy.rawhiti-forbes@newsroom.co.nz">troy.rawhiti-forbes@newsroom.co.nz</a></p>
                            <p><strong>Twitter: </strong><a href="https://www.twitter.com/troyrf">@troyrf</a></p>
                        </div><!-- .contact-->
                    </div><!-- .col-sm-4-->

                    <div class="col-sm-4 editor">
                        <div class="section-header">
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/AlexiaRussell.jpg" alt="Alexia Russell" class="img-responsive">
                            </figure>
                            <div class="header-content">
                                <h3>Alexia Russell</h3>
                                <span class="title">AM EDITOR</span>
                                <span class="muted">AUCKLAND</span>
                            </div><!--header-content-->
                        </div><!--section-header-->
                        <div class="content">
                            <p>
                                Alexia Russell is the curator of Newsroom’s homepage in the morning, and guides the editorial team on new and ongoing story projects.
                            </p>
                        </div><!-- .content-->

                        <div class="contact">
                            <p><strong>Email: </strong><a href="mailto:alexia.russell@newsroom.co.nz">alexia.russell@newsroom.co.nz</a></p>
                            <p><strong>Twitter: </strong><a href="https://www.twitter.com/alexiarussell3">@alexiarussell3</a></p>
                        </div><!-- .contact-->
                    </div><!-- .col-sm-4-->

                    <div class="col-sm-4 editor">
                        <div class="section-header">
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/CassMason.jpg" alt="Cassandra Mason" class="img-responsive">
                            </figure>
                            <div class="header-content">
                                <h3>Cassandra Mason</h3>
                                <span class="title">PM EDITOR</span>
                                <span class="muted">AUCKLAND</span>
                            </div><!--header-content-->
                        </div><!--section-header-->
                        <div class="content">
                            <p>
                                Cassandra Mason is the curator of Newsroom’s homepage in the evening. She also writes for Newsroom on general issues.
                            </p>
                        </div><!-- .content-->

                        <div class="contact">
                            <p><strong>Email: </strong><a href="mailto:cassandra.mason@newsroom.co.nz">cassandra.mason@newsroom.co.nz</a></p>
                            <p><strong>Twitter: </strong><a href="https://www.twitter.com/cassandramason1">@cassandramason1</a></p>
                        </div><!-- .contact-->
                    </div><!-- .col-sm-4-->

                    <div class="col-sm-4 editor">
                        <div class="section-header">
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/SteveDeane.jpg" alt="Steve Deane" class="img-responsive">
                            </figure>
                            <div class="header-content">
                                <h3>Steve Deane</h3>
                                <span class="title">SPORTS EDITOR</span>
                                <span class="muted">AUCKLAND</span>
                            </div><!--header-content-->
                        </div><!--section-header-->
                        <div class="content">
                            <p>
                                Steve Deane produces sports investigations and analysis.
                            </p>
                        </div><!-- .content-->

                        <div class="contact">
                            <p><strong>Email: </strong><a href="mailto:steve.deane@newsroom.co.nz">steve.deane@newsroom.co.nz</a></p>
                            <p><strong>Twitter: </strong><a href="https://www.twitter.com/stevedeane2029">@stevedeane2029</a></p>
                        </div><!-- .contact-->
                    </div><!-- .col-sm-4-->

                </div><!-- .row-->



                <div class="row">
                    <div class="col-sm-4 editor">
                        <div class="section-header">
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/ShaneCowlishaw.jpg" alt="Shane Cowlishaw" class="img-responsive">
                            </figure>
                            <div class="header-content">
                                <h3>Shane Cowlishaw</h3>
                                <span class="title">NATIONAL AFFAIRS EDITOR</span>

                                <span class="muted">WELLINGTON</span>
                            </div><!--header-content-->
                        </div><!--section-header-->
                        <div class="content">
                            <p>
                                Shane Cowlishaw writes about education, justice, internal affairs, and immigration.

                            </p>
                        </div><!-- .content-->

                        <div class="contact">
                            <p><strong>Email: </strong><a href="mailto:shane.cowlishaw@newsroom.co.nz">shane.cowlishaw@newsroom.co.nz</a></p>
                            <p><strong>Twitter: </strong><a href="https://www.twitter.com/scowlishaw">@scowlishaw</a></p>
                        </div><!-- .contact-->
                    </div><!-- .col-sm-4-->

                    <div class="col-sm-4 editor">
                        <div class="section-header">
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/EloiseGibson.jpg" alt="Eloise Gibson" class="img-responsive">
                            </figure>
                            <div class="header-content">
                                <h3>Eloise Gibson</h3>
                                <span class="title">REPORTER</span>
                                <span class="muted">AUCKLAND</span>
                            </div><!--header-content-->
                        </div><!--section-header-->
                        <div class="content">
                            <p>
                                Eloise Gibson writes about the environment, science, and medicine.
                            </p>
                        </div><!-- .content-->

                        <div class="contact">
                            <p><strong>Email: </strong><a href="mailto:eloise.gibson@newsroom.co.nz">eloise.gibson@newsroom.co.nz</a></p>
                            <p><strong>Twitter: </strong><a href="https://www.twitter.com/eloise_gibson">@eloise_gibson</a></p>
                        </div><!-- .contact-->
                    </div><!-- .col-sm-4-->

                    <div class="col-sm-4 editor">
                        <div class="section-header">
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/TeuilaFuatai.jpg" alt="Teuila Fuatai" class="img-responsive">
                            </figure>
                            <div class="header-content">
                                <h3>Teuila Fuatai</h3>
                                <span class="title">REPORTER</span>
                                <span class="muted">AUCKLAND</span>
                            </div><!--header-content-->
                        </div><!--section-header-->
                        <div class="content">
                            <p>
                                Teuila Fuatai writes about social issues: Pasifika peoples, housing, migration, public health, and employment relations.
                            </p>
                        </div><!-- .content-->

                        <div class="contact">
                            <p><strong>Email: </strong><a href="mailto:teuila.fuatai@newsroom.co.nz">teuila.fuatai@newsroom.co.nz</a></p>
                            <p><strong>Twitter: </strong><a href="https://www.twitter.com/teuilafuatai">@teuilafuatai</a></p>
                        </div><!-- .contact-->
                    </div><!-- .col-sm-4-->

                </div><!-- .row-->


                <div class="row">

                    <div class="col-sm-4 editor">
                        <div class="section-header">
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/MorganTait.jpg" alt="Morgan Tait" class="img-responsive">
                            </figure>
                            <div class="header-content">
                                <h3>Morgan Tait</h3>
                                <span class="title">REPORTER</span>
                                <span class="muted">AUCKLAND</span>
                            </div><!--header-content-->
                        </div><!--section-header-->
                        <div class="content">
                            <p>
                                Morgan Tait writes about justice and policing, and consumer rights.
                            </p>
                        </div><!-- .content-->

                        <div class="contact">
                            <p><strong>Email: </strong><a href="mailto:morgan.tait@newsroom.co.nz">morgan.tait@newsroom.co.nz</a></p>
                            <p><strong>Twitter: </strong><a href="https://www.twitter.com/morgtait">@morgtait</a></p>
                        </div><!-- .contact-->
                    </div><!-- .col-sm-4-->

                    <div class="col-sm-4 editor">
                        <div class="section-header">
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/JamesElliott.jpg" alt="James Elliott" class="img-responsive">
                            </figure>
                            <div class="header-content">
                                <h3>James Elliott</h3>
                                <span class="title">LEGAL COUNSEL</span>
                                <span class="title">CONTRIBUTING WRITER</span>
                                <span class="muted">AUCKLAND</span>
                            </div><!--header-content-->
                        </div><!--section-header-->

                        <div class="contact">
                            <p><strong>Email: </strong><a href="mailto:james.elliott@newsroom.co.nz">james.elliott@newsroom.co.nz</a></p>
                            <p><strong>Twitter: </strong><a href="https://www.twitter.com/jameselliott8">@jameselliott8</a></p>
                        </div><!-- .contact-->
                    </div><!-- .col-sm-4-->

                    <div class="col-sm-4 editor">
                        <div class="section-header">
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/PaulEnticott.jpg" alt="Paul Enticott" class="img-responsive">
                            </figure>
                            <div class="header-content">
                                <h3>Paul Enticott</h3>
                                <span class="title">VIDEO PRODUCER</span>
                                <span class="muted">AUCKLAND</span>
                            </div><!--header-content-->
                        </div><!--section-header-->

                        <div class="contact">
                            <p><strong>Email: </strong><a href="mailto:paul.enticott@newsroom.co.nz">paul.enticott@newsroom.co.nz</a></p>
                        </div><!-- .contact-->
                    </div><!-- .col-sm-4-->
                </div><!-- .row-->
                <div class="row">

                    <div class="col-sm-4 editor">
                        <div class="section-header">
                            <figure>
                                <img src="{{networkData.templatePath}}/static/images/headshots/LynnGrieveson.jpg" alt="Lynn Grieveson" class="img-responsive">
                            </figure>
                            <div class="header-content">
                                <h3>Lynn Grieveson</h3>
                                <span class="title">NEWSROOM PRO SUBEDITOR, </span>
                                <span class="title">CONTRIBUTING PHOTOGRAPHER</span>
                                <span class="muted">WELLINGTON</span>
                            </div><!--header-content-->
                        </div><!--section-header-->

                        <div class="contact">
                            <p><strong>Email: </strong><a href="mailto:lynn.grieveson@newsroom.co.nz">lynn.grieveson@newsroom.co.nz</a></p>
                            <p><strong>Twitter: </strong><a href="https://www.twitter.com/lynngrieveson">@lynngrieveson</a></p>
                        </div><!-- .contact-->
                    </div><!-- .col-sm-4-->

                </div><!-- .row-->



{#                 <div class="row">
                    <div class="col-sm-3 editor">
                        <div class="section-header">
                            <div class="header-content">
                                <h3>Justin Brown</h3>
                                <p><strong>Twitter: </strong>@brownspeak</p>
                            </div><!--header-content-->
                        </div><!--section-header-->
                    </div><!-- .col-sm-4-->

                    <div class="col-sm-3 editor">
                        <div class="section-header">
                            <div class="header-content">
                                <h3>Suzanne McFadden</h3>
                                <p><strong>Twitter: </strong>@nzdiva</p>
                            </div><!--header-content-->
                        </div><!--section-header-->
                    </div><!-- .col-sm-4-->

                    <div class="col-sm-3 editor">
                        <div class="section-header">
                            <div class="header-content">
                                <h3>Richard McManus</h3>
                                <p><strong>Twitter: </strong>@ricmac</p>
                            </div><!--header-content-->
                        </div><!--section-header-->
                    </div><!-- .col-sm-4-->

                    <div class="col-sm-3 editor">
                        <div class="section-header">
                            <div class="header-content">
                                <h3>Rod Oram</h3>
                                <p><strong>Twitter: </strong>@rodoramnz</p>
                            </div><!--header-content-->
                        </div><!--section-header-->
                    </div><!-- .col-sm-4-->
               

                    <div class="col-sm-3 editor">
                        <div class="section-header">
                            <div class="header-content">
                                <h3>Lester Levy</h3>
                            </div><!--header-content-->
                        </div><!--section-header-->
                    </div><!-- .col-sm-4-->

                    <div class="col-sm-3 editor">
                        <div class="section-header">
                            <div class="header-content">
                                <h3>Darren Bevan</h3>
                                <p><strong>Twitter: </strong>@geekboy73</p>
                            </div><!--header-content-->
                        </div><!--section-header-->
                    </div><!-- .col-sm-4-->


                </div><!-- .row--> #}




            </div><!-- .container -->
        </article><!-- .article-main -->
    </main><!-- .site-main -->
