{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}

{% macro smartquotes(text) %}
    {{text|replace({'/[^"]/': '&ldquo;', "/[^'']/": '&lsquo;', "'": '&rsquo;', '"': '&rdquo;'})}}
{% endmacro %}


{{this.registerJs("HomeController.listing();")}}
{% set limit = 12 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

{# {% set recentArticles = _Article.getRecentArticles({'limit': 5}) %} #}
{# {% set popularArticles = _Article.getPopularArticles({ limit: 4, sortBy: 'VIEWS' }) %} #}

    {% set sections =  {
            "social": {
                "feed": "",
                "link": "",
                "limit": 4
            }, 
            "gallery": {
                "feed": "",
                "link": "",
                "limit": 8
            }
        }
    %}

    {% for key, value in sections %}
        {% for blog in networkData.networkBlogs %}
            {% if blog.title | lower == key %}
                {% set sections = sections | merge({
                    (key) : {
                        'feed': _Blog.getBlogFeed({'limit': value['limit'], 'offset': 0, 'blogid':blog.guid}),
                        'link' : blog.link
                        }
                    }) %}
            {% endif %}
        {% endfor %}
    {% endfor %}


    <main id="main" class="site-main" role="main">
        

        {% if articles|length > 0 %}

        {% if articles[0].articleId > 0 %}
            {% set articleImg = _Media.getMediaUrl(articles[0].featuredMedia,imgWidth, imgHeight, {'crop': 'fill', 'gravity': 'faces'} ) %}
        {% elseif articles[0].socialId == "1" %}
            {% set articleImg = articles[0].social.media['path'] %}
        {% endif %}
        <div class="banner-image image-wrapper tintGradient" style="background-image:url('{{articleImg}}');"></div>

        <section class="featured-slider container">
            <div class="">
                {% if articles[0] %}                                                                
                    {{this.render('partials/_single-article.twig', {article: articles[0], position: 1, swap: 'false', containerClass: 'swiper-slide s1168x587', imageSuppress: 'true'}) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endif %}
            </div><!-- .swiper-container-->
        </section><!-- .featured-slider-->
        {% endif %}


        <section class="home-page-content">
            <div class="container">
                

                <div class="row index-top">

                    <div class="col-sm-12 col-md-8 main-content">
                        <div class="card-group">
                            {% for i in 0..4 %}
                                {% if articles[articleCount] %}                                                                
                                    {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: 'card-rec'}) | raw}}
                                    {% set articleCount = articleCount + 1 %}
                                {% endif %}
                            {% endfor %}
                         </div><!--card-group-->
                    

                        {{ this.render('partials/ajaxarticles.twig', {
                            limit: limit, 
                            non_pinned: articlesArr.existingNonPinnedCount, 
                            articles: sections['social'].feed,
                            card_style: "col-sm-4 card-sm",
                            container:"mainAjaxArticles"
                        }) | raw }}

                    </div><!-- .col-sm-8-->


                    <div class="col-sm-12 col-md-4 sidebar">

                        <section class="row sidebar-news">


                            <div class="col-sm-12 sidebar-top">
                                <div class="row">
                                    <header>
                                        <h3>Social</h3>
                                    </header>
                                    {% if sections['social'].feed.articles|length > 0 %}
                                        {% for i in 0..3 %}
                                            {% if sections['social'].feed.articles[i] %}
                                                {{this.render('partials/_single-article.twig', {article: sections['social'].feed.articles[i], swap: 'false', containerClass: 'col-xs-12 col-sm-6 col-md-12 s100x110', swap: 'false'}) | raw}}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-12 sidebar-bottom">
                                <div class="row">
                                    {% for i in 0..1 %}
                                        {% if articles[articleCount] %}                                                                
                                            {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: 'col-xs-12 col-sm-6 col-md-12 card-sm'}) | raw}}
                                            {% set articleCount = articleCount + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div> 
                        </section><!-- .sidebar-news -->





                    </div><!-- .col-sm-4-->

                    <div style="clear:both"></div>


                </div><!-- .row-->


                {% if sections['gallery'].feed.articles|length > 0 %}
                <div class="row index-bottom">
                    <div class="col-sm-12">
                        <div class="row gutter-20">
                            <h3>The Gallery</h3>

                            {% for i in 0..3 %}
                                {% if sections['gallery'].feed.articles[i] %}                                                                
                                    {{this.render('partials/_single-article.twig', {article: sections['gallery'].feed.articles[i], swap: 'false', containerClass: 'col-xs-6 col-md-3 card-sm'}) | raw}}
                                {% endif %}
                            {% endfor %}
                        </div>

                        {% if sections['gallery'].feed.articles|length > 4 %}
                            <div class="row gutter-20">
                                {% for i in 4..7 %}
                                    {% if sections['gallery'].feed.articles[i] %}                                                                
                                        {{this.render('partials/_single-article.twig', {article: sections['gallery'].feed.articles[i], swap: 'false', containerClass: 'col-xs-6 col-md-3 card-sm'}) | raw}}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>




                {{ this.render('partials/ajaxarticles.twig', {
                    limit: sections['gallery'].limit,
                    non_pinned: articlesArr.existingNonPinnedCount, 
                    articles: sections['gallery'].feed,
                    card_style: "col-sm-3 card-sm",
                    container:"galleryAjaxArticles",
                }) | raw }}

                {% endif %}

        </section><!-- .home-page-content-->

        <article class="livestreamform-main">
            <div class="container">
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="content-wrapper">
                                 <div class="page-livestream">
                                    <h2>Subscribe to WOBI news and updates.</h2>
                                    <div id="streamform">
                                   {#  <form action='#'> #}
                                        {# name: #}
                                        <input class="forminput" id="submitlivestreamformname" name="name" type="text" placeholder="First name" >
                                        {# lastname: #}
                                        <input class="forminput" id="submitlivestreamformlastname" name="lastname" type="text" placeholder="Surname">
                                        {# email: #}
                                        <input class="forminput" id="submitlivestreamformemail" name="email" type="text" placeholder="email address">

                                        <div class="livestreamsubmit" id="submitlivestreamform" name="submit" type="">SUBMIT</div>
                                    {# </form> #}
                                    </div>


                                </div><!--content-block-top-->

                            </div><!-- .content-->


                        </div><!-- .col-md-8-->
                    </div>
                </div><!-- .page-content-->

            </div><!--container-->
        </article>

        <section class="sponsors" style="background:white">

            <div class="container hidden-md hidden-lg">

                <div class="row">
                    <div class="col-sm-12">
                        <h2>Major Sponsors</h2>
                        <div class="col-xs-12 col-sm-4 justify_children">
                            <img width="167" height="127" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/pw-c-colour.png?ver=1">
                        </div>
                        <div class="col-xs-12 col-sm-4 justify_children">
                            <img width="167" height="116" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/nab.png?ver=1">
                        </div>
                        <div class="col-xs-12 col-sm-4 justify_children">
                            <img width="179" height="113" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/chartered.png?ver=1">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Supporting Sponsors</h2>
                               <div class="col-xs-12 col-sm-4 justify_children">
                                    <img width="72" height="72" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/bupa.png?ver=1">
                                </div>
                                <div class="col-xs-12 col-sm-4 justify_children">
                                    <img width="168" height="60" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/auspost.png?ver=1">
                                </div>
                                <div class="col-xs-12 col-sm-4 justify_children">
                                    <img width="210" height="60" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/advantage.png?ver=1">
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <h2>Academic Partner</h2>
                                <img width="172" height="72" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/unimelb.png?ver=1">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Supporting Partners</h2>
                                <div class="row">
                                     <div class="col-xs-5 col-sm-4">
                                        <img width="131" height="25" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/huffington-post.png?ver=1">
                                    </div>
                                    <div class="col-xs-5 col-sm-4">
                                        <img width="158" height="32" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/smh.png?ver=1">
                                    </div>
                                    <div class="col-xs-5 col-sm-4 hidden-sm">
                                        <img width="77" height="23" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/ceo.png?ver=1">
                                    </div>
                                    <div class="col-xs-5 col-sm-4 hidden-sm">
                                        <img width="158" height="14" vspace="20" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/wall-street.png?ver=1">
                                    </div>
                                     <div class="col-xs-5 col-sm-4 hidden-xs">
                                        <img width="77" height="23" vspace="20" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/ceo.png?ver=1">
                                    </div>
                                    <div class="col-xs-5 col-sm-4 hidden-xs">
                                        <img width="158" height="14" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/wall-street.png?ver=1">
                                    </div>
                                    <div class="col-xs-5 col-sm-4">
                                        <img width="132" height="27" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/barrons.png?ver=1">
                                    </div>
                                    <div class="col-xs-5 col-sm-4">
                                        <img width="117" height="32" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/china.png?ver=1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cold-sm-12">
                            <div class="row">
                                <div class="col-xs-5 col-sm-4  justify_children">
                                    <img width="131" height="38" vspace="5" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/am-cham.png?ver=1">
                                </div>
                                <div class="col-xs-5 col-sm-4 justify_children">
                                    <img width="58" height="28" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/newsmodo.png?ver=1">
                                </div>
                                <div class="col-xs-5 col-sm-4 justify_children">
                                    <img width="140" height="35" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/bca.png?ver=1">
                                </div>
                                <div class="col-xs-5 col-sm-4 justify_children">
                                    <img width="102" height="36" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/ausmarketing.png?ver=1">
                                </div>
                                <div class="col-xs-5 col-sm-4 justify_children">
                                    <img width="87" height="32" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/aap.png?ver=1">
                                </div>
                                <div class="col-xs-5 col-sm-4 justify_children">
                                    <img width="145" height="34" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/robb.png?ver=1">
                                </div>
                                <div class="col-xs-5 col-sm-12 justify_children">
                                    <img width="100" height="30" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/slido.png?ver=1">
                                </div>
                            </div>
                        </div>
                        

                        <div class="row">
                            <div class="col-sm-4">
                                <h2>Host Partner</h2>
                                <img width="76" height="83" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/the-star.png?ver=1">
                            </div>
                            <div class="col-sm-4">
                                <h2>Transport Partner</h2>
                                <img width="55" height="55" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/uber.png?ver=1">
                            </div>

                            <div class="col-sm-4">
                                <h2>APAC PR Partner</h2>
                                <img width="106" height="50" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/adro.png?ver=1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="container hidden-sm hidden-xs">

                <div class="row">
                    <div class="col-sm-12">
                        <h2>Major Sponsors</h2>
                        <div class="col-md-12 col-lg-12 justify_children">
                            <img width="167" height="127" vspace="10" hspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/pw-c-colour.png?ver=1">
                            <img width="167" height="116" vspace="10" hspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/nab.png?ver=1">
                            <img width="179" height="113" vspace="10" hspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/chartered.png?ver=1">
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-8">
                                <h2>Supporting Sponsors</h2>
                               <div class="justify_children">
                                    <img width="72" height="72" vspace="10" hspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/bupa.png?ver=1">
                                    <img width="168" height="60" vspace="10" hspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/auspost.png?ver=1">
                                    <img width="210" height="60" vspace="10" hspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/advantage.png?ver=1">
                                </div>
                            </div>

                            <div class="col-md-offset-1 col-sm-12 col-md-2">
                                <h2>Academic Partner</h2>
                                <img width="172" height="72" src="{{networkData.templatePath}}/static/images/sponsor_logos/unimelb.png?ver=1">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Supporting Partners</h2>
                                <div class="row">
                                     <div class="col-md-12 col-lg-12 justify_children">
                                        <img width="131" height="25" vspace="10" hspace="5" src="{{networkData.templatePath}}/static/images/sponsor_logos/huffington-post.png?ver=1">
                                        <img width="158" height="32" vspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/smh.png?ver=1">
                                        <img width="77" height="23" vspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/ceo.png?ver=1">  
                                        <img width="158" height="14" vspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/wall-street.png?ver=1">
                                        <img width="132" height="27" vspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/barrons.png?ver=1">
                                        <img width="117" height="32" vspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/china.png?ver=1">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="cold-sm-12 col-md-12">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 justify_children">
                                        <img width="131" height="38" vspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/am-cham.png?ver=1">
                                        <img width="58" height="28" vspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/newsmodo.png?ver=1">
                                        <img width="140" height="35" vspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/bca.png?ver=1">
                                        <img width="102" height="36" vspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/ausmarketing.png?ver=1">
                                        <img width="87" height="32" vspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/aap.png?ver=1">
                                        <img width="145" height="34" vspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/robb.png?ver=1">
                                        <img width="100" height="30" vspace="10" src="{{networkData.templatePath}}/static/images/sponsor_logos/slido.png?ver=1">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <h2>Host Partner</h2>
                                <img width="76" height="83" src="{{networkData.templatePath}}/static/images/sponsor_logos/the-star.png?ver=1">
                            </div>
                            <div class="col-sm-2">
                                <h2>Transport Partner</h2>
                                <img width="55" height="55" src="{{networkData.templatePath}}/static/images/sponsor_logos/uber.png?ver=1">
                            </div>

                            <div class="col-sm-2">
                                <h2>APAC PR Partner</h2>
                                <img width="106" height="50" src="{{networkData.templatePath}}/static/images/sponsor_logos/adro.png?ver=1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- .sponsor-logos-->


    </main><!-- .site-main -->