{% set networkData = _Network.getNetworkData() %}

{% set blogInfo = _Blog.getBlog() %}
{{ set(this, 'title', blogInfo.title) }}


{{this.registerJs("CardController().screen();")}}

{% set limit = 20 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}





<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

    <!--placeholder temp -->

<main id="main" class="full-height" role="main">
    <div class="two-card-logo">
        <img id="AAP-logo" height="70px" class="" src="{{networkData.templatePath}}/static/images/publish-logo.png">
        <p style="margin-right:100px;">Powered by AAP Publish</p>

        <img id="large-logo" class="" src="{{networkData.templatePath}}/static/images/logo-reverse-medium.png">
    </div>

    <div class="main-screen full-height flex_col">

        <div class="row flex1">

            <div id="ajaxArticles" 
                 data-offset="0"
                 data-blogid="{{blogid}}"
                 data-articlecount="1"
                 data-containerclass="screen-card card-sm-screen col-sm-6"
                 data-existing-nonpinned-count=""
                 class="col-sm-12 full-height">




                {# {{this.render('partials/_single-article.twig', {article: articles[0], containerClass: 'screen-card card-lg-screen col-sm-12', network:networkData}) | raw}} #}
{#                 {{this.render('partials/_single-article.twig', {article: articles[0], containerClass: 'screen-card card-sm-screen col-sm-6', network:networkData}) | raw}}
                {{this.render('partials/_single-article.twig', {article: articles[1], containerClass: 'screen-card card-sm-screen col-sm-6', network:networkData}) | raw}}
 #}                
            </div>

            <a  class="loadMoreArticles" 
                style="display:none;"
                data-container="ajaxArticles"
                data-limit="2"
                href="#">Load more articles</a>


        </div>

    </div>
</main>
<script>
</script>
