{% set networkData = _Network.getNetworkData() %}

{% set blogInfo = _Blog.getBlog() %}
{{ set(this, 'title', blogInfo.title) }}


{{this.registerJs("HomeController.listing();")}}
{{this.registerJs("HomeController.blog();")}}

{% set limit = 20 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}





<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

    <!--placeholder temp -->

<main id="main" class="full-height" role="main">
    {# <img class="two-card-logo" src="{{networkData.templatePath}}/static/images/logo-reverse-small.png"> #}
    <img class="two-card-logo" src="{{networkData.templatePath}}/static/images/logo-reverse-medium.png">

    <div class="main-screen full-height flex_col">

        <div class="row flex1">
            <div class="col-sm-12 full-height">
                {{this.render('partials/_single-article.twig', {article: articles[0], containerClass: 'screen-card card-lg-screen col-sm-12', network:networkData}) | raw}}
{#                 {{this.render('partials/_single-article.twig', {article: articles[0], containerClass: 'screen-card card-sm-screen col-sm-6', network:networkData}) | raw}}
                {{this.render('partials/_single-article.twig', {article: articles[1], containerClass: 'screen-card card-sm-screen col-sm-6', network:networkData}) | raw}}
 #}                
            </div>

        </div>

{#         <div class="row flex-shrink0" style="max-height:85px;margin-top:20px;">
            <img src="{{networkData.templatePath}}/static/images/logo-reverse-small.png" style="float:right;margin-right:15px;">
        </div>
 #}
    </div>
</main>
