{% set networkData = _Network.getNetworkData() %}

{% set blogInfo = _Blog.getBlog() %}
{{ set(this, 'title', blogInfo.title) }}


{{this.registerJs("CardController();")}}
{# {{this.registerJs("BlogController();")}} #}

{% set limit = 20 %}

{# {% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
 #}
  {% set sections =  {
          "screen": {
              "feed": "",
              "link": "",
              "limit": 20,
              "id" : ""
          }
      }
  %}

  {% for key, value in sections %}
      {% for blog in networkData.networkBlogs %}

          {% if blog.title | lower == key %}
              {% set sections = sections | merge({
                  (key) : {
                      'feed': _Blog.getBlogFeed({'limit': value['limit'], 'offset': 0, 'blogid':blog.guid}),
                      'link' : blog.link,
                      'id' : blog.id
                      }
                  }) %}
          {% endif %}
      {% endfor %}
  {% endfor %}


 {%  set articles = sections['screen'].feed.articles %}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

{# blogInfo.title #}
    
    
        <section class="home-page-content">
            <div class="container section">
                <h1>{{blogInfo.title | upper}}</h1>

                <div class="row">
                    

                    <div class="col-sm-12 main-content">

                        {% if articles[articleCount] %}                                                                
                        
                            <div class="row">
                                {% for i in 0..19 %}
                                    {% if articles[articleCount] %}                                                                
                                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: 'col-sm-3 card-sm'}) | raw}}
                                        {% set articleCount = articleCount + 1 %}
                                    {% endif %}
                                {% endfor %}
                            </div><!-- .card-group-->
                        {% endif %}

                        {% if articles|length >= limit %}
                            <div class="">
                                <div class="ajaxArticles clearfix"
                                     data-offset="{{limit}}"
                                     data-containerclass="card-rec"
                                     data-existing-nonpinned-count="{{articlesArr.existingNonPinnedCount}}">
                                 </div>
                                <a class="loadMoreArticles" href="#">LOAD MORE</a>
                            </div>

                            {% set noDataCls = 'hide' %}
                            {% if articles|length == 0 %}
                                {% set noDataCls = '' %}
                             {% endif %}
                            <div class="row text-center has-margin-bottom-20 has-margin-top-20 {{noDataCls}} NoArticlesMsg">
                                <p class="no-data text-center">No articles found.</p>  
                            </div>
                        {% endif %}




                    </div><!-- .col-sm-8-->

                </div>


            </div><!-- .container-->
        </section><!-- .home-page-content-->



