{% set logo = networkData.templatePath~'/static/images/logo.svg'%}
{% if networkData.logoMedia | length > 0 %}
    {% set logo = _Media.getMediaUrl(networkData.logoMedia, 290, 80, {'crop': 'fit'} )%}
{% endif %}





<header id="masthead" class="site-header container-fluid" style="position:relative">
    <div class="site-header-buffer"></div>

    <div class="site-header-main header__navigation">
            

        <div class="section-left col-sm-5">
              <div class="logo pull-left">
                  <a class="navbar-brand" target="_blank" href="http://wbfsydney.com" rel="Home" tabindex="-1" title="Home">
                      <img src="{{logo}}" alt="logo" class="main-logo">
                  </a>
              </div>
        </div><!-- .menu-left-->  

        <div class="section-right navbar-right col-sm-7">


            <nav class="sb-custom-menu">
                <a href="#" class="menu-mobile"></a>
                

                <div class="menuContainer">

                    <div id="menu-search" class="secondary-menu menu-search">
                        <ul>
                            <li>
                                <form method="get" id="searchformmob" action="{{networkData.defaultBlogUrl}}/search">
                                    <div>
                                        <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                                    </div>
                                    <button class="btn btn-default" type="submit" id="searchsubmit">
                                        <span class="icon-search icon"></span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>


                    <ul id="menu-primary-menu" class="menu">
                        {% set menuItems = blog.blogHeaderMenu %}
                        {% for parentItem in menuItems  %}

                            {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                            {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                            <li>
                                <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                  {% if parentItem.label != "" %}
                                    {{parentItem.label | upper}}
                                  {% elseif parentItem.blogTitle != "" %}
                                     {{parentItem.blogTitle | upper}}
                                  {% elseif parentItem.pageTitle != "" %}
                                     {{parentItem.pageTitle | upper}}
                                  {% endif %}
                                </a>
                            </li>

                        {% endfor %}

                      <li id="menu-item-search" class="menu-item menu-item-search now-active">
                          <a href="#" class="search-icon"><span class="icon-search icon"></span><span class="sr-only">Expand search</span></a>

                      </li>
                    </ul>
            </nav>  
        </div><!-- .site-branding-top -->

{#         <ul id="searchpanel" class="sub-menu normal-sub search-sub-menu" style="display:none">
            <li class="search-container">
                <fieldset>
                    <form method="get" id="searchform" action="#">
                        <label for="header-search" class="assistive-text sr-only">Search</label>
                        <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                        <button class="btn btn-default" type="submit" id="searchsubmit">
                            <span class="icon icon-search-blk"></span>
                            <span class="screen-reader-text"></span>
                        </button>
                    </form>
                </fieldset>
            </li>
        </ul>
 #}

    {#  _____________________________________________________

                            PROFILE WINDOW
        _____________________________________________________  #}




        <div id="header__menu">
            <div class="profile__menu">
                 {% if user.profileMedia.id != '' %}
                        {% set profileImg = _Media.getMediaUrl(user.profileMedia, 80, 80, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
                    {% else %}
                        {% set profileImg = networkData.templatePath ~ "/static/images/icons/profile.svg" %}
                    {% endif %}
              <div class="profile__menu-image" style="background-image: url({{ profileImg }})"></div>
              <div class="profile__menu-content">
                <div class="profile__menu-name">{{ (user.firstname ~" "~ user.lastname) | truncate(15) | title}}</div>
                <div class="profile__menu-email">{{user.email | truncate(23)}}</div>
                <a href="{{_AppHelper.buildUrl('user/my-news')}}" class="profile__menu-button">My News</a>
              </div>
              <ul class="profile__menu-navigation">
                  {% if _User.isAdminUser() %}
                      <li><a class="profile__menu-navigation-link" href="https://{{networkData.defaultDomain['domain']}}/admin" target="_blank">Admin</a></li>
                  {% endif %}
                  <li><a class="profile__menu-navigation-link" href="{{blogUrl}}/profile/{{user.username}}">View Profile</a></li>
                  <li><a class="profile__menu-navigation-link" href="https://{{networkData.defaultDomain['domain']}}/user/edit-profile">Settings</a></li>
                  <li><a class="profile__menu-navigation-link" href="{{_AppHelper.getLogoffUrl()}}">Sign Out</a></li>
              </ul>
            </div>
        </div>


    </div><!-- .site-header-main -->
</header>
<ul id="searchpanel" class="sub-menu normal-sub search-sub-menu"  style="position:relative">
    <li class="search-container">
        <fieldset>
            <form method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                <label for="header-search" class="assistive-text sr-only">Search</label>
                <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                <button class="btn btn-default" type="submit" id="searchsubmit">
                    <span class="icon icon-search-blk"></span>
                    <span class="screen-reader-text"></span>
                </button>
            </form>
        </fieldset>
    </li>
</ul>
