<!--footer-->
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">        
            <div class="row">
                <div class="col-sm-6 col-md-6 icon-wrapper">
                    <a class="footer-brand" href="https://wobi.com" rel="Home" tabindex="-1" title="Home">
                        <img src="{{networkData.templatePath}}/static/images/wobi_white.svg" alt="logo" class="main-logo">
                    </a>

                </div><!-- .col-sm-3-->


            </div><!--row-->


            <div class="row footer-middle">
                <div class="col-sm-12 contact visible-xs-block">
                    <div class="section-links-mobile">
                        <ul>
                            {% set menuItems = blog.blogHeaderMenu %}
                            {% for i, parentItem in menuItems %}
                                {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}
                                
                                {% if (parentItem.blogTitle | lower != roomInfo[0] | lower ) %}
                                    <li>
                                        <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                            {% if parentItem.label != "" %}
                                              {{parentItem.label | upper}}
                                            {% else %}
                                               {{parentItem.blogTitle | upper}}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endif %}

                            {% endfor %}

                        </ul>
                    </div>

                </div><!-- .col-sm-12-->

{#                 <div class="col-sm-4 contact">
                    <h2>Contact us</h2>
                    <p>1500 342 958</p>
                    <a mailto="info@globalspotlight.com">info@globalspotlight.com</a>
                </div><!-- .col-sm-12-->

 #}

{#                 <div class="col-sm-12 publish hidden-xs">
                    <span><a href="https://publish.aap.com.au">POWERED BY AAP PUBLISH</a></span>
                </div><!-- .col-sm-12-->
 #}            </div><!-- .row-->

            <div class="row">
                <div class="col-sm-3 publish">
                    <a href="https://publish.aap.com.au">POWERED BY AAP</a>
                </div>


                <div class="col-sm-9 hidden-xs">
                    <div class="section-links">
                        <ul>
                            {% set menuItems = blog.blogHeaderMenu %}
                            {% for i, parentItem in menuItems %}
                                {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}
                                
                                {% if (parentItem.blogTitle | lower != roomInfo[0] | lower ) %}
                                    <li>
                                        <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                            {% if parentItem.label != "" %}
                                              {{parentItem.label | upper}}
                                            {% else %}
                                               {{parentItem.blogTitle | upper}}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endif %}

                            {% endfor %}

                        </ul>
                    </div>
                </div><!-- .col-sm-6-->
            </div>


        </div><!-- .container-->
    </div><!-- .footer-top-->

    
</footer>
